<p id="notice"><%= notice %></p>

<h1>Subcategories</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.title %></td>
        <td><%= subcategory.category_id %></td>
        <td><%= link_to 'Show', subcategory, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_subcategory_path(subcategory), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcategory', new_subcategory_path, class: "btn btn-primary" %>
