<nav class="navbar navbar-top sticky-top navbar-expand-lg navbar-light bg-light nav-fill">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item <%= if controller_name == "welcome" then "active" end %>">
        <a class="nav-link" href="/welcome/index">Welcome</a>
      </li>

      <li class="nav-item dropdown <%= if controller_name == "food" then "active" end %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Food Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @nav['food'].each do |p| %>
            <a class="dropdown-item" href="<%= p['path'] %>"><%= p['name'] %></a>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown <%= if controller_name == "food" then "active" end %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Wool Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @nav['wool'].each do |p| %>
            <a class="dropdown-item" href="<%= p['path'] %>"><%= p['name'] %></a>
          <% end %>
        </div>
      </li>

      <li class="nav-item <%= if controller_name == "about" then "active" end %>">
        <a class="nav-link" href="/about/team">About Us</a>
      </li>

      <li class="nav-item <%= if controller_name == "contact" then "active" end %>">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
